<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>My Blogs</title>

    {% block css %}
        <link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css"/>
    {% endblock %}
</head>

<body>

{#<div id="navbar" class="navbar-collapse navbar navbar-invers collapse">#}
{#    <ul class="nav navbar-nav">#}
{#        <li class="active"><a href='{% url 'blog_list' %}'>Blogs</a></li>#}
{#        <li><a href="{% url 'tag_list' %}">Tags</a></li>#}
{#        <li><a href="{% url 'json-feed' %}">Feed</a></li>#}
{#        <li class="dropdown">#}
{#            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>#}
{#            <ul class="dropdown-menu" role="menu">#}
{#                <li><a href="#">Action</a></li>#}
{#                <li><a href="#">Another action</a></li>#}
{#                <li><a href="#">Something else here</a></li>#}
{#                <li class="divider"></li>#}
{#                <li class="dropdown-header">Nav header</li>#}
{#                <li><a href="#">Separated link</a></li>#}
{#                <li><a href="#">One more separated link</a></li>#}
{#            </ul>#}
{#        </li>#}
{#    </ul>#}
{#    <ul class="nav navbar-nav navbar-right">#}
{#        {% if user.is_authenticated %}#}
{#            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ user.username }} <span class="caret"></span></a>#}
{#            <ul class="dropdown-menu" role="menu">#}
{##}
{#                <li><a href="{% url 'blog_create' %}">Create Post</a></li>#}
{#                <li><a href="{% url 'tag_create' %}">Create Tag</a></li>#}
{#                <li><a href="{% url 'logout_user' %}">Log Out</a></li></ul>#}
{#        {% else %}#}
{#            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Login/Register <span class="caret"></span></a>#}
{#            <ul class="dropdown-menu" role="menu">#}
{#                <li><a href="{% url 'login_user' %}">Login</a></li>#}
{#                <li><a href="{% url 'register_user' %}">Register</a></li>#}
{#            </ul>#}
{#        {% endif %}#}
{#    </ul>#}
{#</div>#}


<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'blog_list' %}">My Blog</a>
                </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href='{% url 'blog_list' %}'>Blogs</a></li>
                <li><a href="{% url 'tag_list' %}">Tags</a></li>
                <li class="dropdown">
                    {% if user.is_authenticated %}
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ user.username }} <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">

                        <li><a href="{% url 'blog_create' %}">Create Post</a></li>
                        <li><a href="{% url 'tag_create' %}">Create Tag</a></li>
                        <li><a href="{% url 'logout_user' %}">Log Out</a></li></ul>
                        {% else %}
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Login/Register <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                        <li><a href="{% url 'login_user' %}">Login</a></li>
                        <li><a href="{% url 'register_user' %}">Register</a></li>
                            </ul>
                        {% endif %}

                <li><a href="{% url 'json-feed' %}">Feed</a></li>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>

<br/>
<br/>
<br/>

<div class="container">

    <div class="starter-template">
        {#        {% if messages %}#}
        {#            <ul class="messages">#}
        {#                {% for message in messages %}#}
        {#                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>#}
        {#                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}#}
        {#                        {{ message }}#}
        {#                    </li>#}
        {#                {% endfor %}#}
        {#            </ul>#}
        {#        {% endif %}#}
        {#        <h1>Bootstrap starter template</h1>#}
        {#        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>#}
        {% block content %}
        {% endblock %}

    </div>

</div>
<!-- /.container -->

{% block scripts %}
    <script src="//tinymce.cachefly.net/4.1/tinymce.min.js"></script>
    <script>tinymce.init({selector: 'textarea'});</script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

{% endblock %}


</body>
</html>