{% extends 'base.html' %}
{% block content %}
    <h3>{{ object.title }}</h3>
    {% if object.author.first_name and   object.author.first_name %}
        <h4>{{ object.author.first_name }} {{ object.author.last_name }}</h4>
    {% else %}
        <h4>{{ object.author.username }}</h4>
    {% endif %}
    <h4>{{ object.publishing_date|date:'Y-m-d H:i' }}</h4>
    <hr/>
    <p>{{ object.body|safe|escape }}</p>

    <b>Tags:</b>
    <p>
        {% for item in object.tags.all %}
            <a href="{% url 'tag_details' slug=item.slug %}">{{ item }}</a>,
        {% endfor %}
    </p>
{% endblock %}